<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>93687832470-5lo5intm5in1uut7vgj8bueim65thrjo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93687832470-5lo5intm5in1uut7vgj8bueim65thrjo</string>
	<key>API_KEY</key>
	<string>AIzaSyDuyRPvJiFdBldxA87c5-AA5UQDM3_doiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>93687832470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techfestmunich.TECHFEST</string>
	<key>PROJECT_ID</key>
	<string>techfest-munich</string>
	<key>STORAGE_BUCKET</key>
	<string>techfest-munich.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93687832470:ios:923d9d9682763f52</string>
	<key>DATABASE_URL</key>
	<string>https://techfest-munich.firebaseio.com</string>
</dict>
</plist>